<div class="row">
  <div class="admin-user">
   <div class="col-md-8 col-md-offset-2">
     <div class="panel panel-default">
       <div class="panel-heading text-center">
         *プロフィール画像が入る
       </div>
       <div class="mannaka">
        <div class="panel-body">
         <%= @teacher.name %>
         <%= @teacher.email %>
         <%= @teacher.created_at %>
         <%= link_to "Delete", admin_teacher_path(@teacher), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
       </div>
     </div>
   </div>
  </div>
 </div>
</div>
