<div class="row">
  <div class="admin-user">
   <div class="col-md-8 col-md-offset-2">
     <div class="panel panel-default">
       <div class="panel-heading text-center">
         *プロフィール画像が入る
       </div>
       <div class="mannaka">
        <div class="panel-body">
         名前：<%= @student.name %>
         メール：<%= @student.email %>
         登録日時：<%= @student.created_at %>
         <% if @student.billing? %>
           課金中
         <% else %>
           無課金
         <% end %>
       </div>
     </div>
   </div>
  </div>
 </div>
</div>
