<table class="table">
  <thead>
    <% if students.any? %>
      <% students.each do |student| %>
        <tr>
           <td><%= link_to "#{student.name}", student_path(student) %></td>
           <td><%= time_ago_in_words(current_teacher.relationships.find_by(student_id: student.id).created_at) %></td>
        </tr>
    <% end %>
  <% end %>
 </thead>
</table>
