<table class="table">
  <thead>
    <% if students.any? %>
      <% students.each do |student| %>
        <tr>
           <td><%= link_to "#{student.name}", student_path(student) %></td>
           <td><%= time_ago_in_words(current_teacher.reverses_of_request.find_by(student_id: student.id).created_at) %></td>
           <% unless current_teacher.permits?(student)%>
             <td><%= render "teachers/teachers/permit_button", student: student  %></td>
           <% end %>
        </tr>
    <% end %>
  <% end %>
 </thead>
</table>
