<table class="table">
  <thead>
    <% if students.any? %>
      <% students.each do |student| %>
        <tr>
           <td><%= link_to "#{student.name}", student_path(student) %></td>
           <td><%= time_ago_in_words(student.created_at) %></td>
           <%= render "teachers/teachers/permit_button", student: student  %>
        </tr>
    <% end %>
  <% end %>
 </thead>
</table>
