<div id="wrapper">
 <div id="main">
   <div class="topindex">
    <div class="row">
     <aside>
      <div class="admin-user">
        <div class="col-lg-2">
         <%= render "layouts/teachers", teachers: @teachers %>
        </div>
      </div>
     </aside>
     <div class="col-lg-8">
      <section id="point">
       <h2>Enjoy lessonについて</h2>
        <section>
         <h3>英語をネイティブレベルにしたい</h3>
          <p>
            健やかな人生は健やかな食生活から<br>
            上手に料理が作れるだけでなく、食べる人の人生をも健やかにしていきたい。<br>
            それが、TechAcademy KITCHENの思いです。
          </p>
        </section>
        <section>
         <h3>他のスクールより安く済ませたい</h3>
          <p>
            食は文化の数だけあります。<br>
            食生活が豊かだと、人生をも豊かになります。 <br>
            多彩なカテゴリの料理を提供し、料理をする人、食べる人の生活も豊かにしていきたいと思っております。
          </p>
        </section>
      </section>
      </div>
     <aside>
       <div class="Kensakumado">
         <%= link_to "先生検索", searches_path %>
       </div>
      <div class="admin-user">
       <div class="col-lg-2">
         ranking形式
        <%= render "layouts/teachers", teachers: @teachers %>
       </div>
      </div>
    </aside>
 </div>
 </div>
</div>

<input type="text" name="zip" size="9" maxlength="7" onKeyUp="AjaxZip3.zip2addr(this,'','pref','city','addr');">
<!-- ▼住所入力フィールド(都道府県) -->
<input type="text" name="pref" size="20">
<!-- ▼住所入力フィールド(都道府県以降の住所) -->
<input type="text" name="city" size="20">
<input type="text" name="addr" size="40">

<div id="wrapper" class="clearfix">
  <div class="container">
    <%= render 'layouts/flash_messages' %>
  </div>
</div>
