<div id="wrapper">
        <!--ここからメイン-->
  <div id="main">
    <%= render 'layouts/navbar' %>
    <section id="point">
      <h2>Enjoy lessonについて</h2>
        <section>
          <h3>英語をネイティブレベルにしたい</h3>
              <p>
                健やかな人生は健やかな食生活から<br>
                上手に料理が作れるだけでなく、食べる人の人生をも健やかにしていきたい。<br>
                それが、TechAcademy KITCHENの思いです。
              </p>
      </section>
      <section>
        <h3>他のスクールより安く済ませたい</h3>
          <p>
            食は文化の数だけあります。<br>
            食生活が豊かだと、人生をも豊かになります。 <br>
            多彩なカテゴリの料理を提供し、料理をする人、食べる人の生活も豊かにしていきたいと思っております。
          </p>
      </section>
  </section>
  <section id="news">
    <h2>お知らせ</h2>
    <ul>
      <li>
        <span>2018/09/01</span>
        <a href="course.html">レッスン案内を更新しました</a>
      </li>
      <li>
        <span>2018/08/31</span>
        <a href="gallery.html">写真を追加しました</a>
      </li>
      <li>
        <span>2018/08/24</span>
      <a href="course.html">レッスン案内を更新しました</a>
      </li>
    </ul>
  </section>
</div>
  <aside>
    サイドバー
  </aside>
</div>
<div id="wrapper" class="clearfix">

<div class="container">
  <%= render 'layouts/flash_messages' %>
</div>
