<footer>
  <div id="footer_navi">
   <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="#">サービス説明</a></li>
      <li><a href="#">利用ガイド</a></li>
      <li><a href="#">料金</a></li>
      <li><a href="#">よくある質問と回答</a></li>
      <li><a href="#">お問い合わせ</a></li>
   </ul>
  </div>
  <div class="text-center text-muted">© 2018 ENJOYLESSON.</div>
</footer>
