<% if teachers.any? %>
  <% teachers.each do |teacher| %>

  <div class="panel panel-default">
    <div class="panel-heading text-center">
      *プロフィール画像が入る
    </div>
    <div class="mannaka">
      <div class="panel-body">
      <%= link_to "#{teacher.name}", teachers_teacher_path(teacher) %>

      <a href="#">トーク</a>
      </div>


    </div>
  </div>

  <% end %>
<% end %>
